body{
    background-color: #94c0ed;

}
#labels{
    color: #81bbf5;
    font-size: 18px;
    opacity: 0;

}
.fa {
    font-size: 25px;
}
#btnid {
    margin: 20px;
}
#btnid2 {
    margin: 20px;
}
.modal{
    display: block;
    visibility: hidden;
}
.modal-show
{
    visibility:visible;
    background-color: rgba(169, 169, 169, 0.8);
    transition: opacity 0.2s linear; 
} 
.modal-content 
{
    opacity: 0; 
}
.modal-show .modal-content 
{
    opacity: 1; 
    transition: 0.2s linear; 
} 
.container .row{
    justify-content: center;
    align-items: center;
    font-size: large;
    
}

#icons{
    color: white ;
}
footer{
    margin-top: 0px;;
    background-color:  #1c2331;
}
footer, section{
    background-color: #171718;
}
.board-container{
    margin-top: 0px;
/* margin-top: 10%; 
margin-left: 10%; 
margin-right: 10%; 
margin-bottom: 10%;  */

}
.imgs{
    justify-content: center;
    align-items: center;
    width:150px;
    height: fit-content;
}
